.container
{
    /* Vendos elementet ne qender */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top img 
{
    /* Fotoja ndryshon sipas madhesise se faqes */
    max-width: 100%;
}

#top .nav
{
    /* Vendos butonat e menuse ne qender */
    display: inline-block;
}

#middle .form-control
{
    /* Vendos elementet e formes ne qender */
    display: inline-block;

    /* Gjeresia e elementeve te formes (i mbivendoset asaj te Bootstrap) */
    width: auto;
}

#middle td
{
    /* Vendos permbajtjen e qelizave te tabeles ne te majte */
    text-align: left;
}

#bottom
{
    /* Zvogelon tekstin e footer */
    font-size: smaller;

    /* E rrethon footer me margins */
    margin: 20px;
}

/* paneli i opsioneve te adminit */
div#options *
{
    /* Shfaq elementet ne nje rresht */
    display: inline;
}